*{
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: normal;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

hr{
    width: 100%;
    opacity: 0;
    margin: 0;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 12vh;
    font-size: 3rem;
    margin: 0;
}

.textarea{
    min-width: 60vw;
    height: 12vh;
    font-size: 1.3rem;
    padding: 10px;
    margin: 0;
}

.check-btn{
    font-size: 1.3rem;
    border: none;
    border-radius: 3px;
    background: rgba(8, 126, 8, 0.75);
    color: white;
    padding: 8px 10px;
    margin-top: 15px;

}

.check-btn:hover{
    background: rgba(8, 126, 8, 0.9)

}

